{% set rootClass = rootClass | default('contact') %}
<address class="{{ rootClass }}__address" itemscope itemtype="http://schema.org/PostalAddress">
	<span itemprop="streetAddress">
		{{ location.address }}
		{% if location.address2 %}<br>{{ location.address2 }}{% endif %}
	</span><br>
	<span itemprop="addressLocality">{{ location.city }}</span>&nbsp;<span itemprop="addressRegion">{{ location.state }}</span>&nbsp;<span itemprop="postalCode">{{ location.postalCode }}</span>
	{% if location.mapLink %}
	<br><a href="{{ location.mapLink }}">Get map &amp; directions</a>
	{% endif %}
</address>