{% if entry.contentBlocks|length %}
<section class="blocks {{ class|default('') }}">
{% for block in entry.contentBlocks %}

	{% switch block.type %}

		{% case 'text' %}

			<div class="block__text">
				{{ block.text | pd }}
			</div>

		{% case 'heading' %}

			<h2 class="block__heading">{{ block.heading }}</h2>

		{% case 'blockquote' %}

			<blockquote class="block__blockquote">
				{{ block.quote | pd }}

				{% if block.source %}
				<p class="source">
					{{ block.source }}
				</p>
				{% endif %}
			</blockquote>

		{% case 'pullquote' %}

			<blockquote class="block__pullquote">
				{{ block.pullquote | pd }}
			</blockquote>

		{% case 'image' %}

			{% for asset in block.image %}
				<figure class="block__image">
					<img src="{{ asset.getUrl('large') }}" alt="">
					
					{% if asset.caption %}
						<figcaption class="block__caption">
							{{ asset.caption | pd }}
						</figcaption>
					{% endif %}
				</figure>
			{% endfor %}

		{% case 'video' %}

			{% set video = craft.embedder.url(block.video) %}

			<figure class="block__video">
				{{ video.embed_code }}
				
				{% if block.caption %}
					<figcaption class="block__caption">
						{{ block.caption | pd }}
					</figcaption>
				{% endif %}
			</figure>

	{% endswitch %}

{% endfor %}
</section>
{% endif %}